@import './siderbar.css';
@font-face {
  font-family: "Organo";
  src: url('../font/Organo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.app-name-link img {
  transform: scale(50%, 50%);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 6px;
  background-image: linear-gradient( 135deg, #F0FF00 10%, #58CFFB 100%);
}

/* 封面页 */
.cover {
  background-image: url('https://u.vmpic.cn/2021/09/18/a8rJV.jpg') !important;
  background-size: 100vw 100vh !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.cover-main {
  color: rgba(255, 255, 255, .8) !important;
}

.cover-main .anchor span {
  color: #fff !important;
  font-family: Organo, Georgia, serif !important;
  text-shadow: 4px 4px #558ABB;
}

#cccatmint::after {
  content: "";
  height: 20px;
  width: 220px;
  margin: -18px auto 0px;
  display: block;
  background-image: linear-gradient(31deg, rgb(61 105 146), rgb(75 177 75));
}

#title a span {
  color: #b6b5b5 !important;
  text-shadow: none;
}

#title a p {
  color: #b6b5b5 !important;
}

.beian {
  height: 40px;
  font-size: 16px;
  /* background-color: #f00; */
  border-top: 1px solid #ccc;
  color: #ccc;
  text-align: end;
}
.beian a,
.beian a:link,
.beian a:visited,
.beian a:hover 
.beian a:active {
  color: #ccc;
  text-decoration: none;
}